.footer {
    height: 40px;
    background-color: #181D27;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    display: flex;
    padding: 20px 40px;
    color: #DEF4C6;
    
}
h2 {
    margin-left: auto;
    margin-right: auto;
   
}
h3 { 
    right: 0;
   
}