.header {
  height: 70px;
  background-color: #1c7c54;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between ;
  align-items: center;
  display: flex;
  padding: 20px 20px;
  position: fixed;
  z-index: 3001;
}
.logo {
  height: 70px;
  width: 80px;
  margin-right: 210px;
}
.headerButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.headerh1 {
  color: #DEF4C6;
  font-size: 50px;
  
}
.headerh4 {
  color: #DEF4C6;
  font-size: 20px;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 5px;
  
}
