<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <default-context-path>/OrlikRentPAS</default-context-path>

    <security-role>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <role-name>Client</role-name>
    </security-role>
    <security-role>
        <role-name>Manager</role-name>
    </security-role>

    <!--    Rest API rules    -->


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Client options</web-resource-name>
            <url-pattern>/api/Rentals/RentsForPitch/*</url-pattern>
            <url-pattern>/api/Rentals/addRent/</url-pattern>
            <url-pattern>/api/Pitches/footballPitches/</url-pattern>
            <url-pattern>/api/Pitches/basketballPitches/</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Client</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Manager AND Admin options</web-resource-name>
            <url-pattern>/api/Rentals/*</url-pattern>
            <url-pattern>/api/Pitches/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>PATCH</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin options</web-resource-name>
            <url-pattern>/api/Account/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>PATCH</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>


       <!-- <security-constraint>
            <web-resource-collection>
                <web-resource-name>api</web-resource-name>
                <url-pattern>/*</url-pattern>
            </web-resource-collection>
            <user-data-constraint>
                <transport-guarantee>CONFIDENTIAL</transport-guarantee>
            </user-data-constraint>
        </security-constraint>-->

</web-app>